@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
  --font-quicksand: var(--font-quicksand);
  --font-tangerine: var(--font-tangerine);
  --font-raleway: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tangerine);
}

.custom-gradient {
  background: linear-gradient(92.65deg, #ffffff -94.29%, #1b54a9 57.7%);
}

.custom-gradient-text {
  background: linear-gradient(92.65deg, #ffffff -94.29%, #1b54a9 57.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.custom-third-gradient {
  background: linear-gradient(to right, #f1f0f6 0%, #e7eaf1 100%);
}
